Question 1

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

It displays value 6 : As we have defined the function b() and it will display the value as many times we call the function b() if we call it six times it will display the number 12 ,if we call it 9 times it will display the number 18 and so on. Basically in each interpreter value of 'a' will increase by 2 as it is defined as zero at start. Since the function b is called thrice so the answer is 6.

Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [4]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File", file_name ,"not found")

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [2]:
class marsupial:
    
    def __init__(self):
            self.list = []
            
    def talk(self,a):
            self.list.append(a)
    def put_in_pouch(self):
            return print(self.list)
        
m = marsupial()
m.talk('doll')
m.talk('firetruck')
m.talk('kitten')
m.put_in_pouch()

class Kangaroo(marsupial):
    
    def __init__(self, x, y):
        super(Kangaroo, self).__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)
    
k = Kangaroo(0, 0)
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [17]:
def collatz(k):
    print(k)
    if (k > 1 and k%2 == 0):
        a = k/2
        
        result = collatz(int(a))
    elif (k > 1 and k%2 != 0):  
        a = 3 * k + 1
        
        result = collatz(int(a))
    else:
        result = 0
    return result     
     
    
collatz(1);
collatz(10);

1
10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [29]:
def binary(a):
    if a == 0:
        return 0
    else:
        return (a % 2 + 10 *
                binary(int(a // 2)))
 

binary(9)

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [5]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    is_h1_tag = False
    is_h2_tag = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.is_h1_tag = True
        if tag == 'h2':
            self.is_h2_tag = True

    def handle_data(self, data):
        if self.is_h1_tag:
            print(data)
        if self.is_h2_tag:
            print(" ", data)

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.is_h1_tag = False
        if tag == 'h2':
            self.is_h2_tag = False



infile = open(r"C:\Users\sdp19\OneDrive\Desktop/w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [6]:
import requests
from bs4 import BeautifulSoup
import re

temp = 0
def webdir(url, depth, indent):
    global temp
    indent_sp = ' ' * (indent + 1)
    
    if depth == 0:
       return None

    response = requests.get(url)
    html = response.content                     
    soup = BeautifulSoup(html, 'html.parser')

    links = soup.body.findAll("a", href=re.compile("http"))

    print(indent_sp * (temp - depth), url)
    if temp <= depth:
        temp = depth
    for link in links:
        if 'https' in link['href']:
            webdir(link['href'], depth - 1, indent)

url = "https://gohugo.io/"
webdir(url, 2, 0)

 https://gohugo.io/
  https://gohugo.io/
  https://themes.gohugo.io/
  https://discourse.gohugo.io/
  https://github.com/gohugoio/hugo
  https://twitter.com/intent/follow?screen_name=GoHugoIO
  https://github.com/gohugoio/hugo
  https://www.linode.com/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://esolia.com/post/why-did-esolia-choose-hugo/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://brave.com/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://themes.gohugo.io/
  https://gohugo.io/templates/
  https://gohugo.io/getting-started/installing/
  https://twitter.com/heinrichhartman/status/1199736512264462341
  https://twitter.com/gohugoio
  https://twitter.com/jscarto/status/1039648827815485440
  https://gohugo.io
  https://twitter.com/gohugoio
  https://twitter.com/spcrngr_/status/870863020905435136
  https://twitter.com/WordPress
  https://twitter.com/GoHugoIO
  https://twitter.com/hashtag/gohugo?src=hash
  https://twitter.com/marcoscan/status/869661175960752129
  https://github.com/gohugoio/hugo/blob/master/CONTRIBUTING.md
  https://themes.gohugo.io/
  https://gohugo.io/overview/introduction/
  https://discourse.gohugo.io/
  https://github.com/gohugoio/hugo/graphs/contributors
  https://github.com/gohugoio/hugo/issues/new
  https://discourse.gohugo.io/
  https://gitter.im/spf13/hugo
  https://twitter.com/gohugoio
  https://twitter.com/spf13
  https://twitter.com/bepsays
  https://www.netlify.com
  https://www.linode.com/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://esolia.com/post/why-did-esolia-choose-hugo/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://brave.com/?utm_campaign=hugosponsor&utm_medium=banner&utm_source=homepage
  https://themes.gohugo.io/
  https://discourse.gohugo.io/
  https://github.com/gohugoio/hugo

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [42]:
import pandas as pd
import sqlite3 as db

df=pd.read_csv(r"C:\Users\sdp19\OneDrive\Desktop\datadata.csv")
connection= db.connect("MyDatabase.db")
df.to_sql("table11",connection)
sql_string = 'Select * from table11'
df=pd.read_sql(sql_string,connection)

In [43]:
sql_string = 'select City,Country,Season,Temerature from table11 group by Temerature'
df=pd.read_sql(sql_string,connection)
print(df)

      City         Country  Season  Temerature
0   London  United Kingdom  Winter         4.2
1   London  United Kingdom  Spring         8.3
2   London  United Kingdom    Fall        10.4
3    Cairo           Egypt  Winter        13.6
4   London  United Kingdom  Summer        15.7
5    Cairo           Egypt  Spring        20.7
6    Cairo           Egypt    Fall        22.2
7   Mumbai           India  Winter        24.8
8   Mumbai           India    Fall        27.6
9    Cairo           Egypt  Summer        27.7
10  Mumbai           India  Summer        27.9
11  Mumbai           India  Spring        28.4

In [44]:
sql_string = 'select distinct city from table11'
df=pd.read_sql(sql_string,connection)
print(df)

     City
0  Mumbai
1  London
2   Cairo

In [45]:
sql_string = ' select * from table11 where country="India"'
df=pd.read_sql(sql_string,connection)
print(df)

   index    City Country  Season  Temerature  Rainfall
0      0  Mumbai   India  Winter        24.8       5.9
1      1  Mumbai   India  Spring        28.4      16.2
2      2  Mumbai   India  Summer        27.9    1549.4
3      3  Mumbai   India    Fall        27.6     346.0

In [46]:
sql_string = ' select * from table_1 where Season="Fall"'
df=pd.read_sql(sql_string,connection)
print(df)

   index    City         Country Season  Temerature  Rainfall
0      3  Mumbai           India   Fall        27.6     346.0
1      7  London  United Kingdom   Fall        10.4     218.5
2     11   Cairo           Egypt   Fall        22.2       4.5

In [47]:
sql_string = 'select Country,season,City,rainfall from table11 where rainfall BETWEEN 200 AND 400 '
df=pd.read_sql(sql_string,connection)
print(df)

          Country  Season    City  Rainfall
0           India    Fall  Mumbai     346.0
1  United Kingdom  Winter  London     207.7
2  United Kingdom    Fall  London     218.5

In [56]:
sql_string = 'select city,country,season,temerature from table11 where season = "Fall" and Temerature>(Select AVG(Temerature) from table11) order by temerature asc'
df=pd.read_sql(sql_string,connection)
print(df)

     City Country Season  Temerature
0   Cairo   Egypt   Fall        22.2
1  Mumbai   India   Fall        27.6

In [55]:
sql_string = 'Select sum(Rainfall) from table11 where city="Cairo"'
df=pd.read_sql(sql_string,connection)
print(df)

   sum(Rainfall)
0           27.6

In [54]:
sql_string = 'Select sum(Rainfall),season from table11 group by season'
df=pd.read_sql(sql_string,connection)
print(df)

   sum(Rainfall)  Season
0          569.0    Fall
1          192.3  Spring
2         1706.5  Summer
3          230.1  Winter

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
for i in range(len(words)):
    words[i] = words[i].upper()
print (words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [23]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
for i in range(len(words)):
    words[i] = words[i].lower()
print (words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy','dog']
result = []
for i in range(len(words)):
    result.append(len(words[i]))
print (result)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy','dog']
result = []
for i in range(len(words)):
    result.append([words[i].upper(),words[i].lower(),len(words[i])])
print (result)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
length_words = len(words)
if length_words >= 4:
    print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']